* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  position: relative;
}
#root {
  height: 100vh;
}

.container {
  width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.form > input {
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 10px;
  height: 40px;
  margin-bottom: 10px;
}
.form > button {
  border-radius: 10px;
  height: 40px;
  border: 0;
  cursor: pointer;
  background-color: dodgerblue;
  color: #fff;
}
.data {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #aaa;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.data:last-child {
  margin-bottom: 0;
}
.delete {
  background-color: #f8f8f8;
  padding: 0 10px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}